@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Aqui, você encontra uma vasta coleção de e-books e artigos acadêmicos cuidadosamente 
    organizados para enriquecer sua jornada de aprendizado. Nossa plataforma foi projetada para 
    oferecer uma experiência de leitura prática e envolvente, permitindo que você explore diversas áreas do conhecimento e tenha acesso aos 
    mais variados conteúdos, seja para estudos, pesquisas ou desenvolvimento profissional.</p>
</main>